.innerfeatures-container {
  padding: 10px;
}

.innerfeatures-container.border {
  border: 1px solid;
}

.innerfeatures-heading {
  font-size: 18px;
}

.innerfeatures-text {
  font-size: 15px;
  color: #909090;
}

.innerfeatures-link {
  color: blue;
}
